body {
    background-color: lightblue;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color:teal;
    text-decoration: none;
    margin: 15px;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding: 2rem;
}

.nav-right p{
    margin-right: 8px;
    margin-bottom: 2px;
}

.nav-right, .btn {
    margin-bottom: 2px;
}


.post-entry {
    padding: 2px 6px 4px 6px;
    color: #555555;
    background-color: lightgray;
    border: #dddddd 2px solid;
    text-align: center;
    width: 50%;
    margin: 10px 0px 10px 0px;
    /*padding-bottom: 2rem;
    margin-bottom: 2rem;
    margin: 15px;*/
}

.post-entry h2 {
    color: teal;
    margin: 0.5rem 0; 
}

.post-entry h2 a, .post-entry h2 a:visited {
    color: teal;
    text-decoration: none;
}

.post-entry blockquote {
    border-left: 4px solid black;
    color: rgb(73, 70, 218);
    margin: 30px 0 30px 15px;
    padding-left: 15px;
    font-weight: 400;
}

.post-entry p, .btn{
    margin: 10px;
    padding: 5px;
}

.post-entry h2 a:hover {
    color: yellowgreen;
}

.form-group {
    text-align: center;
    
}

